[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fanplot"]
	path = fanplot
	url = https://github.com/guyabel/fanplot
[submodule "migest"]
	path = migest
	url = https://github.com/guyabel/migest
[submodule "tidycat"]
	path = tidycat
	url = https://github.com/guyabel/tidycat
[submodule "wcde"]
	path = wcde
	url = https://github.com/guyabel/wcde
