[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "fanplot"]
	path = fanplot
	url = https://github.com/guyabel/fanplot
	shallow = true
	registered = true
[submodule "tidycat"]
	path = tidycat
	url = https://github.com/guyabel/tidycat
	shallow = true
	registered = true
[submodule "wcde"]
	path = wcde
	url = https://github.com/guyabel/wcde
	shallow = true
	registered = true
